label + .droparea {
  margin-top: 1rem;
}

.files-wrapper {
  display: grid;
  grid-template-columns: 11rem 23rem;
  gap: 1rem;
  margin-top: 1.75rem;  
  position: relative;
}

label + .switch-toggle {
  margin-top: 1.5rem;
}


.droparea {
  display: flex;
  position: relative;
  align-items: center;
  gap: .5rem;
  margin-bottom: .3rem;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  & .file-img {
    background-image: url(../../assets/icons/file-default-icon.svg);
    width: 7.4375rem;
    height: 2.5rem;
    cursor: pointer;
  }
  
  &:hover, :focus-within {
    .file-img {
      transition: filter 0.3s ease-in-out;
      filter: brightness(1.13);
    }
  }

  & p {
    font: var(--body-md);
    color: var(--input-placeholder);
  }
}

.error-msg {
  display: flex;
  position: relative;
  align-items: center;
  gap: .3rem;

 & p#errorMsg {
    font: var(--body-xs);
    color: var(--danger);
  }

 & #img-error {
    background-image: url(../../assets/icons/error-msg.svg); 
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.switch-toggle {
  position: relative;
  display: flex;
  gap: .5rem;
  align-items: center;

  input[type="checkbox"] {
    appearance: none;
    width: 4rem;
    height: 2rem;
   border-radius: 1rem;
    cursor: pointer;
    transition: .3s;
  }

  input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--input-stroke);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 0.3125rem;
    transition: .3s;
  }

  input[type="checkbox"]:checked {
    background-color: var(--brand-light) !important;
  }

  input[type="checkbox"]:checked:before {
    background-color: white !important;
    left: 2.25rem;
  }

  & p {
    font: var(--body-xs);
    color: var(--text-body);
  }
}
