input, textarea, select {
  background-color: var(--input-base);
  appearance: none;
  width: 100%;
  border: 1px solid var(--input-placeholder);
  border-radius: .5rem;
  padding: .75rem 1rem;
  font: var(--body-md);
  color: var(--text-heading);
}

input[type="text"], input[type="date"], input[type="mail"], textarea {
  &:focus, :active {
    border: 1px solid var(--brand-light);
    outline: none;
  }
}

.event-info > div > label {
  margin-bottom: .75rem;
}

.event-info > div > div > label {
  margin-bottom: .75rem;
}

.name > label {
  margin-bottom: .75rem;
}

.flex-1 > label {
  margin-bottom: .75rem;
}


input, textarea {
  &:invalid {
    border: 1px solid var(--danger);
  }

  &[required] + .error {
    display: flex;
    align-items: center;
    gap: .25rem;
    margin-top: .25rem;

    font: var(--body-xs);
    color: var(--danger);
  }

  &:not(:focus):valid + .error {
    display: none;
  }
}

#error-2 {
  display: flex;
  align-items: center;
  gap: .3rem;
  margin-top: .25rem;

  & .error-txt-2 {
    font: var(--body-xs);
    color: var(--danger);
  }
}

#error-3 {
  display: flex;
  align-items: center;
  gap: .3rem;
  margin-top: .25rem;

  & .error-txt-2 {
    font: var(--body-xs);
    color: var(--danger);
  }
}

#error-4 {
  display: flex;
  align-items: center;
  gap: .3rem;
  margin-top: .25rem;

  & .error-txt-2 {
    font: var(--body-xs);
    color: var(--danger);
  }
}

label {
  font: var(--body-sm);
  color: var(--text-body);
  display: block;
}

label#ignore-label {
  margin-bottom: .11rem;
}

::placeholder {
  color: var(--input-placeholder);
}

input[type="date"] {
  text-transform: uppercase;
  color: var(--input-placeholder);
  position: relative;
  
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

fieldset {
  border: none;
  display: grid;
  gap: 1rem;
}

.textarea {
  margin-bottom: 3rem;
}

hr {
  background-color: var(--input-placeholder);
  border: none;
  height: 1px;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}