label + .theme-options {
  margin-top: 1rem;
}

.theme-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.375rem, 1fr));
  gap: .5rem;
}


.radio-theme {
  position: relative;

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  &:hover, :focus-within {
    transition: filter 0.3s ease-in-out;
    filter: brightness(1.13);
  }

  &:has(:checked) {
    img {
      outline: 0.1875rem solid var(--brand-light);
      border-radius: .5rem;
    }
  }
}