.legend-config {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .75rem;
  margin-bottom: 1.5rem;

  font: var(--heading-sm);
  color: var(--text-heading);
}

.input-wrapper {
  display: grid;
  gap: .75rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.flex-1 {
  flex: 1;
}