.legend-config {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .75rem;
  margin-bottom: 1.5rem;

  font: var(--heading-sm);
  color: var(--text-heading);
}

.legend-gap {
  margin-top: 3rem;
}

.local-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-wrapper {
  display: grid;
  margin-right: 1rem;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.terms-gap {
  display: grid;
  gap: .75rem;
}